// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

body{
  background-color:#020202;
}

.monkey_picture_link-2{
  width: 100%;
}

.team_name{
  color:#FFF;
  font-family: "Lacquer", cursive;
  padding-top: 15px;

}

.team_para{
  color:#fff;
  font-family: "Poppins", sans-serif;
  padding-top:7px;
}

.link_c{
  color:#CC795B;
}

.link_c_team{
  color:#CC795B;
  font-size:30px;
  opacity:0.7;
}
.link_c_team:hover{
  color:#CC795B;
  font-size:30px;
  opacity:1;
}


.home_video{
  width: 100%;
}

.about{
  text-align:center;
}
.para-w{
  color:#fff;
  font-family: "Poppins", sans-serif;
  font-size:18px;
}
.header-home-heading-w{
    font-size: 55px;
    color: #fff;
}

.font-lac{
    font-family: "Lacquer", cursive;
}
.video_home{
    width: 100%;
}
.home-main{
    background-color: #050605;
}
.header-home-heading{
    font-size: 55px;
}
.home-heading{
    color: #fff; 
    font-size: 20px;
    text-align: center;
}
.monkey_picture{
    width: 100%;
}
#set-height {
    display: block;
  }
  #v0 {

    top: 0;
    left: 0;
    width: 100%;
  }

  .intro {
    height: 100vh;
  }
  
  .intro video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;
  }
  
  section {
    height: 100vh;
    color: black;
  }
  
  section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
  }
  

@media(max-width:991px) {
    .home-main{
        padding-top: 60px;
    }
}
  


.roadmap{
  color: white;
  background: #020202;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;

.title{
   font-family: "Lacquer", cursive;
   font-size:20px;
}

p {
  margin: 0 0 13px 0;
  font-family: "Poppins", sans-serif;
}

a {
  color: #fff;
}

.center { text-align: center; }

.container {
  width: 95%;
  max-width: 1220px;
  margin: 0 auto;
}

.episode {
  display: grid;
  grid-template-columns: 1fr 5fr;
  position: relative;
}

.episode__number {
  font-size: 2.5vw;
  font-weight: 600;
  padding: 10px 0;
  position: sticky;
  top: 70px;
  text-align: center;
  height: calc(5vw + 0px);
  transition: all 0.2s ease-in;
}

.episode__content {
  border-top: 2px solid #fff;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  padding: 15px 0;
}

.episode__content .title {
  font-weight: 600
}

.episode__content .story {
  line-height: 26px;
}

@media screen and (max-width: 600px) {
  .episode__content {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 800px) {
 .episode__number {
    font-size: 4vw;
    padding-right: 15px;
  }
}

@media (max-width: 576px) {
  .episode__content .story {
    font-size: 15px;
  }
  }
}

  
