
    <footer class="footer-16371">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-9 text-center">
            <div class="footer-site-logo mb-4">
              <a href="#" class="fontlac" style="font-family: 'Lacquer', cursive;">OG Stoneheads</a>
            </div>
            <ul class="list-unstyled nav-links mb-5">
              <li><a href="#">Home</a></li>
              <li><a href="#">Roadmap</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Staking</a></li>
              <li><a href="#"</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contact us</a></li>
            </ul>

            <div class="social mb-4">
              <h3>Stay in touch</h3>
              <ul class="list-unstyled">
                <li class="fb"><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                <li class="fb"><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                <li class="fb"><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
                <li class="fb"><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
              </ul>
            </div>

            <div class="copyright">
              <p class="mb-0"><small>&copy; OG Stoneheads 2022. All Rights Reserved. </small></p>
            </div>


          </div>
        </div>
      </div>
    </footer>



    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
