<div class="contact-form-us" style="padding-top: 100px;">
  <div class="container">
  <h1 class="font-lac header-home-heading-w">Contact us</h1>
    <!-- modify this form HTML and place wherever you want your form -->


      <!-- your other form fields go here -->

    <form action="https://formspree.io/f/mzbokdjd" method="POST">
        <div class="row input-container">
            <div class="col-xs-12">
              <div class="styled-input wide">
                  <input type="name" name="name">
                <label>
                  Project name:
                </label>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="styled-input">
                <input type="email" name="email">
               <label>
                Your email:
               </label>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="styled-input" style="float:right;">
                <input type="text" required />
                <label>Supply</label>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="styled-input wide">
                <textarea name="message"></textarea>
                <label>
                Your message:
              </label>
              </div>
            </div>
            <div class="col-xs-12">
              <button  class="btn-lrg submit-btn" type="submit">Send</button></div>
        </div>
    </form>
  </div>
</div>
