<div class="home-main">
    <div class="container" >
        <div class="d-flex row align-items-center justify-content-center" >
            <div class="home-heading col-lg-6 col-md-6" style="margin-top: 50px;">
                <h1 class="font-lac header-home-heading">OG Stoneheads</h1>
                <p>1420 Unique Stoneheads chillin on the #Solana blockchain <br>Powered by $KIEF🌿</p>
            </div>
            <div class="col-lg-6 col-md-6" style="margin-top: 50px;">
                <%= image_tag "giflightin.gif", class: "video_home" %>
            </div>
        </div>
    </div>
</div>

<div class="about" style="margin-top: 100px;">
  <div class="container">

  <h1 class="font-lac header-home-heading-w">OG Stoneheads</h1>
  <p class="para-w">OG Stoneheads is a collection of 1420 randomly generated NFTs on the Solana blockchain.<br>
The price for the presale mint is 0.75 $SOL. The price for the public mint is 1.25 $SOL<br>
The planned mint date is on the 30th of April.<br>
Our inspiration for the art &amp; name of the project comes from the ancient Olmec Stoneheads.<br>
So the “OG” in the name isn’t the usual acronym, well at least half of it.<br>
 It stands for Olmec Gangsters, because they look pretty badass.<br><br>

<strong >Why the Cannabis?</strong><br> We, the founders are passionate weed smokers and we really wanted to make it a part of the project’s identity.<br>
 Also, the Olmec Heads look like they’re stoned as hell.</p>

  </div>
</div>


<div class="faq-us" style="margin-top:100px;">
<div class="text-center">
    <h2 class="font-lac header-home-heading-w">FAQ</h2>
  </div>
  <section class="container my-5" id="maincontent" style="height:100%;">
    <div id="accordion" style="height:100%!important;">
      <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-179" aria-expanded="false" data-toggle="collapse" href="#faq-17" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            What are OG Stoneheads?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-17" style="">
        <div class="card card-body border-0 p-0">
          <p>OG Stoneheads is a collection of 1420 hand-drawn, unique NFT's chillin' on Solana blockchain.</p>

        </div>
      </div>

      <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-188" aria-expanded="false" data-toggle="collapse" href="#faq-182" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            What is the supply of OG Stoneheads?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-18" style="">
        <div class="card card-body border-0 p-0">
          <p>Only 1420 OG Stonehead NFT's.</p>
        </div>
      </div>


       <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-207" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            How much mint price?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-20">
        <div class="card card-body border-0 p-0">
          <p>Whitelist Price: 0.75 SOL<br>
            Public Price: 1.25 SOL<br></p>
          <p>
          </p>
        </div>
      </div>

       <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-176" aria-expanded="false" data-toggle="collapse" href="#faq-1714" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            When is the mint ?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-17" style="">
        <div class="card card-body border-0 p-0">
          <p>Presale Mint: 20:00 UTC <br> Public Mint: 20:30 UTC </p>

        </div>
      </div>

      <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-175" aria-expanded="false" data-toggle="collapse" href="#faq-17" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Which wallet can I use to mint?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-17" style="">
        <div class="card card-body border-0 p-0">
          <p>Phantom (recommended), Sollet and Solflare.</p>

        </div>
      </div>

      <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary border-top" aria-controls="faq-194" aria-expanded="false" data-toggle="collapse" href="#faq-19" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            How much of the supply will be available for the whitelist sale?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-19" style="">
        <div class="card card-body border-0 p-0">
          <p>420 NFT Cards have been reserved for the Whitelist Sale.</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-203" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            How do I get Whitelisted?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-20">
        <div class="card card-body border-0 p-0">
          <p>Join our <a href="https://discord.gg/J2qmneVmv5 " class="link-color">Discord</a> and follow the steps provided.</p>
        </div>
      </div>

       <a class="py-3 d-block position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-202" aria-expanded="false" data-toggle="collapse" href="#faq-20" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            What is the best email to reach you at?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-20">
        <div class="card card-body border-0 p-0">
          <p>The best email for any inquiries is email@email.com!</p>
          <p>
          </p>
        </div>
      </div>

      <a class="py-3 d-block  position-relative z-index-1 pr-1 text-secondary  border-top" aria-controls="faq-211" aria-expanded="false" data-toggle="collapse" href="#faq-21" role="button">
        <div class="position-relative">
          <h2 class="h4 m-0 pr-3">
            Where can I buy OG Stoneheads NFT after the mint (Secondary market)?
          </h2>
          <div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
            <i class="fa-solid fa-angle-left"></i>
          </div>
        </div>
      </a>
      <div class="collapse" id="faq-21">
        <div class="card card-body border-0 p-0">
          <p>Magic Eden.</p>
        </div>
      </div>


    </div>
  </section>
</div>
