.faq-us{

.text-secondary {
    color: #fff;
  }

  .h4,
  h4 {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    color:#fff;
  }

  h2 {
    color: #fff;
  }

  p{
    font-family: "Poppins", sans-serif;
    color:#fff;
  }

  .fa,
  .fas {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    font-style: normal;
  }

  .right-0 {
    right: 0;
  }

  .top-0 {
    top: 0;
  }
  .card {
    background-color:#020202;
  }



  a.text-secondary:focus,
  a.text-secondary:hover {
    text-decoration: none;
    color: #fff;
  }

  #accordion .fa-angle-left {
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  }

  #accordion a[aria-expanded=true] .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
